<div class="container mt-5"></div>
<div class="card mb-3" style="max-width: 1080px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{restaurant.image}}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{restaurant.name}}</h5>
        <p class="card-text">餐廳分類：{{restaurant.category}}</p>
        <p class="card-text">餐廳電話：{{restaurant.phone}}</p>
        <p class="card-text">餐廳評分：{{restaurant.rating}}</p>
        <p class="card-text">餐廳地址：{{restaurant.location}}</p>
        <p class="card-text">餐廳描述：{{restaurant.description}}</p>

        <p class="card-text">
          <small class="text-muted">Last updated 2019/04/24</small>
        </p>
        <a href="/">Back</a>

      </div>
    </div>
  </div>
</div>
</div>